name: lint-tf

on:
  workflow_call:
    inputs:
      working-directory:
        required: false
        type: string
        default: '.'

jobs:
  lint-tf:
    name: Lint Terraform templates
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.5.5"

      - name: Run terraform fmt check
        run: |
          terraform fmt -check -diff -recursive "${{ inputs.working-directory }}"
